<div class="container">
  <h3 class="my-posts text-center col">My Posts</h3>
  <!-- For each post, the post-details partial is used to render each post's data -->
  {{#each posts as |post|}}
  {{> post-details}}
  {{/each}}
</div>