{{#with post as |post|}}
  {{> post-details}}
{{/with}}
{{#if logged_in}}
<h2 class="text-center col align-self-center">New Comment</h2>
<form class="new-comment-form col">
  <div class="input-group input-group-lg mb-3">
      <span class="input-group-text" id="inputGroup-sizing-lg">Comment</span>
      <input
        id="comment-input"
        type="text"
        class="form-control"
        aria-label="Comment input"
        aria-describedby="inputGroup-sizing-lg"
      />
  </div>
    <!-- add Comment button -->
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn text-center" type="submit">Add Comment</button>
    </div>
  </form>
{{/if}}
<!-- load all comments owned by the post -->
<h2 class="text-center col align-self-center">Comments</h2>
{{#each post.comments}}
{{> comment-details}}
{{/each}}

{{#if logged_in}}
<script src="../js/newComment.js"></script>
{{/if}}
